# Game
Game/node_modules/
Game/public/
Game/dist/

# Server
Server/dist
Server/public
Server/node_modules

# ServerManager
ServerManager/node_modules
ServerManager/public
ServerManager/dist

# other files
.vscode/*
*.log
*.db
*.tar
temp
